<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: mainHead"></head>
<head>
    <title>이용후기 :: DoCha Admin Web</title>
</head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Begin Page Content -->
            <div class="container-fluid">

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary" style="cursor: pointer" >이용후기</h6>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <h6 class="col-12 mb-3 font-weight-bold">작성정보</h6>
                            <div class="col-3 mb-3">
                                <label>등록일시</label>
                                <input type="text" class="form-control" readonly th:value="${result.getRegDt()}" />
                            </div>
                            <div class="col-3 mb-3">
                                <label>회원사</label>
                                <input type="text" class="form-control" readonly th:value="${result.getCompanyName() + '(' + result.getCompanyZipCode() + ')'}" />
                            </div>
                            <div class="col-3 mb-3">
                                <label>모델</label>
                                <input type="text" class="form-control" readonly th:value="${result.getModelName() + result.getModelDetailName() + '('  + result.getCarNumber() + ')' }"  />
                            </div>
                            <div class="col-3 mb-3">
                                <label>번호</label>
                                <input type="text" class="form-control" readonly th:value="${result.getCarNumber()}" />
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                    	<h6 class="col-12 mb-3 font-weight-bold">내용</h6>
                        <div class="row">
                            <div class="col-1 mb-1">
                                <label>평점</label>
                                <input type="text" class="form-control" readonly th:value="${result.getRating()}" />
                            </div>
                        </div>
                        <div class="row">
                            <h6 class="col-12 mb-3 font-weight-bold"></h6>
                            <div class="col-12 mb-12">
                                <label>내용</label>
                                <input type="text" class="form-control" readonly th:value="${result.getComment()}" />
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                    	<h6 class="col-12 mb-3 font-weight-bold">사진</h6> 
                    	<div class="col-12 mb-12">
                    		<div class="row">
								<!-- fileList  --> 
								<th:block th:each="fileInfo : ${userReviewFile}">
									<div class="col-6 mb-6">
										<img class="col-12" id="img_review" src="${fileInfo.getFile()}"></img>
										<span class="text_img" th:text="${fileInfo.getFile()}"></span>
									</div>
								</th:block>
							</div>
						</div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <div th:replace="main_footer :: mainFooter"></div>

    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">알림</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">로그아웃을 하시겠습니까?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="/api/v1.0/docha.logout">Logout</a>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">

    var result = /*[[${result}]]*/ '';
    var fileInfo = /*[[${userReviewFile}]]*/ '';
    var loginUser = /*[[${session.LOGIN_SESSION}]]*/'';

    // Lazy Loading
    window.onload = function() {
    	imgLoader($(this));
    }; 

    function imgLoader(target){
        $(".text_img").each(function(){
       		$(this).prev().attr('src' , $(this).text());
       		$(this).remove();
        });
    }
</script>
</body>
</html>
